footer.app-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.521);
    box-shadow: 3px -2px 3px 2px #fff;
    width: 100%;
    min-height: 10vh;
    position: relative;
    bottom: 0;
    z-index: 0;
    background-color: #282c34;
    .footer-container {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        padding: 10px 10px 20px;
        ul.footer-link-list {
            font-family: 'Roboto';
            font-weight: 400;
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            li.footer-link-item {
                a.footer-link {
                    color: #FFFFFF;
                    text-decoration: none;
                    border-bottom: 1px solid #FFFFFF;
                    padding-bottom: 2px;
                    &:active, &:visited {
                        color: #FFFFFF;
                    }
                    &:hover {
                        border-bottom: 1px solid #26cfdd;
                        color: #26cfdd;
                    }
                }
                &.reset-cookies {
                    padding-top: 15px;
                    .CookieConsent {
                        position: relative!important;
                        display: inline-block!important;
                        width: auto!important;
                        z-index: 0!important;
                        background: transparent!important;
                        cursor: pointer;
                        .inline-cookies {
                            display: none!important;
                        }
                        .inline-space {
                            display: inline-block!important;
                            button {
                                margin: 0 5px!important;
                            }
                        }
                    }
                    // button {
                    //     background: transparent;
                    //     border: none;
                    //     padding: 5px;
                    //     color: #FFFFFF;
                    //     font-size: 18px;
                    //     cursor: pointer;
                    // }
                }
            }
        }
    }
}