.nav-container {
    position: relative;
    .menu-toggle-button {
        cursor: pointer;
        svg {
            width: 100%;
            height: auto;
            path {
                fill: #FFFFFF;
            }
        }
    }

}
.user-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    // filter: blur(8px);
    nav.user-navigation {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        width: calc(60% - 60px);
        z-index: 4;
        background: black;
        height: calc(100vh - 60px);
        padding: 40px 30px 20px;
        flex-direction: row-reverse;
        .menu-closer {
            width: auto;
            height: auto;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            cursor: pointer;
            svg {
                width: 100%;
                height: auto;
                path {
                    fill: #FFFFFF;
                }
            }
        }
        ul.nav-list {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
            width: 100%;
            li.nav-item {
                padding: 7px 12px;
                a.nav-link {
                    color: #FFFFFF;
                    text-decoration: none;
                    border-bottom: 1px solid #FFFFFF;
                    padding-bottom: 2px;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                    &:active,
                    &:visited {
                        color: #FFFFFF;
                    }
            
                    &:hover {
                        border-bottom: 1px solid #26cfdd;
                        color: #26cfdd;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1024px){
    .user-nav-container {

        nav.user-navigation {
            width: 20%;
            padding: 40px 40px 20px;

            .menu-closer {
                width: auto;
                height: auto;
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                max-width: 80px;
                svg {
                    width: 80px;
                    height: auto;
                }
            }

            ul.nav-list {
                li.nav-item {
                    a.nav-link {
                        font-size: 32px;
                    }
                }
            }
        }

    }
}