.loading-icon {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .center {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    img.spin {
        width: 100%;
        height: 100%;
        animation: spin 3s linear 0s infinite;
        // animation: name duration timing-function delay iteration-count;
    }
}
@keyframes spin {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;

    }
}

@media screen and (min-width: 1024px){
    .loading-icon {
        min-height: 100vh;
        .center {
            p {
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
}