form.dog-finder {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 0 20px;
    align-items: center;
    height: 100%;

    label {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0 0;
        select {
            padding: 7px 12px 12px 7px;
            font-size: 1rem;
            border-radius: 6px;
        }
        button {
            &.submit {
                margin: 10px 0;
                padding: 15px 18px;
                font-size: 24px;
                background-color: #282c34;
                color: #FFFFFF;
                font-weight: bold;
                box-shadow: 3px 3px 5px 4px rgb(49 48 48 / 52%);
                border-style: double;
                border-radius: 6px;
                &:hover {
                    translate: 0px 2px;
                    box-shadow: 0px 0px 5px 4px rgb(49 48 48 / 52%);
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    form.dog-finder {

        label {


            select {
                padding: 1em;
                font-size: 24px;
            }

            button {
                &.submit {
                    padding: 15px 18px;
                    font-size: 32px;
                }
            }
        }
    }
}