.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
