.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  .App-header {
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
      background-color: #282c34;
      width: 100%;
      text-align: center;
      z-index: 1;
      border-bottom: 1px solid rgba(255, 255, 255, 0.521);
      box-shadow: 3px 2px 3px 2px #fff;
  }
}
