.dog-finder-form {
    display: flex;
    width: 100%;
    padding-top: 110px;
    position: relative;
    height: 100%;
    flex-direction: column;
    .intro-area {
        position: relative;
        p {
            position: relative;
            width: calc(100% - 40px);
            padding: 0 20px;
        }
        button {
            &.tell-me-how {
                background-color: transparent;
                padding: 14px 12px 3px;
                color: #FFFFFF;
                font-size: 20px;
                box-shadow: none;
                border: 0;
                cursor: pointer;
                border-bottom: 1px solid #FFFFFF;
            }
        }
        .pop-up {
            width: 80%;
            position: absolute;
            z-index: 3;
            background: #353c4a;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0px 1px 3px 4px rgb(32 32 32 / 38%);
            left: 6%;
            bottom: -262px;
            &:before {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 10px 24px 10px;
                border-color: transparent transparent #353c4a transparent;
                transform: rotate(0deg);
                position: absolute;
                top: -20px;
                left: 47%;
                
            }
            .how-to {
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }

    }
    .app-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}