header.App-header {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #282c34;
    width: 100%;
    text-align: center;
    z-index: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
    box-shadow: 3px 2px 3px 2px #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .title-container {
        width: 100%;
        
        h1 {
    
        }

    }

}