.loading-icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    .center {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
    img.spin {
        width: 100%;
        height: 100%;
        animation: spin 3s linear 0s infinite;
        // animation: name duration timing-function delay iteration-count;
    }
}
@keyframes spin {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;

    }
}