@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

body {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;

}
#root {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}